stages:
  - build
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: '/certs'
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: '$DOCKER_TLS_CERTDIR/client'
  DOCKER_COMPOSE_FILE_PATH: /$DEPLOY_USER/deployment/walkie-talkie/docker-compose-backend.yml
  DOCKER_COMPOSE_DIR: /$DEPLOY_USER/deployment/walkie-talkie
  DOCKER_IMAGE_NAME: 'walkie-talkie-backend'
  DOCKER_IMAGE_TAG: '$CI_COMMIT_SHORT_SHA'
  DOCKER_IMAGE_FULL: '$DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG'
  DOCKER_ARCHIVE: '$DOCKER_IMAGE_NAME-$CI_COMMIT_SHORT_SHA.tar.gz'

build:
  stage: build
  image: docker:27.3.1
  tags:
    - dind
    - eu
    - arm64
  services:
    - docker:27.3.1-dind
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - '**/*'
        - '!nginx/**/*'
  script:
    - echo "$ENV_PROD" > .env
    - docker build -t $DOCKER_IMAGE_FULL .
    - docker save $DOCKER_IMAGE_FULL | gzip -9 > $DOCKER_ARCHIVE
    - ls -lah $DOCKER_ARCHIVE
  artifacts:
    paths:
      - $DOCKER_ARCHIVE
    expire_in: 1 hour
    when: on_success

deploy:
  stage: deploy
  image: alpine:3.20.0
  tags:
    - docker
    - eu
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - '**/*'
        - '!nginx/**/*'
  before_script:
    - apk add --no-cache openssh-client rsync
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - echo "$ENV_PROD" > .env
    - sed -i "s|walkie-talkie-backend:latest|$DOCKER_IMAGE_FULL|g" docker-compose.yml
    - rsync -avz --progress $DOCKER_ARCHIVE $DEPLOY_USER@$SSH_HOST:/tmp/
    - rsync -avz docker-compose.yml $DEPLOY_USER@$SSH_HOST:$DOCKER_COMPOSE_FILE_PATH
    - rsync -avz .env $DEPLOY_USER@$SSH_HOST:$DOCKER_COMPOSE_DIR/.env-backend
    - ssh $DEPLOY_USER@$SSH_HOST "docker network create app-network || true"
    - ssh $DEPLOY_USER@$SSH_HOST "gunzip -c /tmp/$DOCKER_ARCHIVE | docker load"
    - ssh $DEPLOY_USER@$SSH_HOST "docker compose -f $DOCKER_COMPOSE_FILE_PATH up -d db redis"
    - ssh $DEPLOY_USER@$SSH_HOST "docker compose -f $DOCKER_COMPOSE_FILE_PATH run --rm backend sh -c 'while ! nc -z db 5432; do sleep 1; echo \"Waiting for DB...\"; done;'"
    - ssh $DEPLOY_USER@$SSH_HOST "docker compose -f $DOCKER_COMPOSE_FILE_PATH run --rm -v $DOCKER_COMPOSE_DIR/.env-backend:/app/.env backend sh -c 'set -a && . /app/.env && set +a && npx prisma migrate deploy'"
    - ssh $DEPLOY_USER@$SSH_HOST "docker rollout -f $DOCKER_COMPOSE_FILE_PATH backend"
    # - ssh $DEPLOY_USER@$SSH_HOST "docker rollout -f $DOCKER_COMPOSE_FILE_PATH telegram-bot"
