services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    environment:
      - NODE_ENV=development
    restart: no
    ports:
      - '${SERVER_PORT:-8000}:8000'
    volumes:
      - .:/app
      - /app/node_modules
      - yarn-cache:/usr/local/share/.cache/yarn
    command: sh -c "yarn install && npx prisma generate && yarn start:dev"
    tty: true
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 1000M
        reservations:
          cpus: '1.0'
          memory: 400M

  db:
    restart: no
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - PGDATA=/var/lib/postgresql/data

  adminer:
    restart: no
    ports:
      - '${ADMINER_PORT:-8080}:8080'
    environment:
      - ADMINER_DEFAULT_SERVER=db
      - ADMINER_DESIGN=nette

  # redis:
  #   restart: no
  #   ports:
  #     - '${REDIS_PORT:-6379}:6379'

  # redis-insight:
  #   container_name: redis-insight-${PROJECT_NAME:-concierge_bot}
  #   image: redislabs/redisinsight:latest
  #   restart: no
  #   ports:
  #     - '${REDIS_INSIGHT_PORT:-8070}:5540'
  #   depends_on:
  #     - redis
  #   networks:
  #     - backend-network

# networks:
#   backend-network:
#     name: backend-network
#     driver: bridge
#     external: false

volumes:
  postgres:
  yarn-cache:
