name: Build Project

on:
  pull_request:
    branches: [main, develop]
  # push:
  #   branches: [main, develop]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: node:20-alpine
    steps:
      - uses: actions/checkout@v4
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
